.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Box1{
    width: 15vw;
    height: 55vh;
    border: none;
    background-color: rgb(250, 87, 28);
    color: white;
    padding: 2% 3%;
    margin-left: auto;
    /* margin-top: auto; */
    justify-content: center;
}

.Box2{
    width: 15vw;
    height: 55vh;
    border: none; 
    background-color: rgb(4, 109, 104);
    color: white;
    padding: 2% 3%;
    /* margin-top: auto; */
    justify-content: center;
   
}

.Box3{
    width: 15vw;
    height: 55vh;
    border: none;
    background-color: rgb(2, 29, 2);
    color: white;
    padding: 2% 3%;
    margin-right: auto;
    /* margin-top: auto; */
    justify-content: center;
    
}

.boxbutton1{
    border: none;
    border-radius: 20px;
    justify-content: left;
    background-color: white;
    font-weight: 50;
    color:  rgb(250, 87, 28);
    padding: 5px 10px;
    display: block;
    padding: 10px 15px;
    height: 10%;
    margin-top: 70%;

}

.boxtitle{
    text-align: start;
}

.boxbutton2{
    border: none;
    border-radius: 20px;
    justify-content: left;
    background-color: white;
    font-weight: 50;
    color:  rgb(4, 109, 104);
    display: block;
    padding: 10px 15px;
    height: 10%;
    margin-top: 70%;
   
}
.boxbutton3{
    border: none;
    border-radius: 20px;
    justify-content: left;
    background-color: white;
    font-weight: 50;
    color:  rgb(2, 29, 2);
    display: block;
    padding: 10px 15px;
    height: 10%;
    margin-top: 70%;
}
